.header_overlay {
    background-color: rgb(15,23,42);
    background: linear-gradient(90deg, rgb(12 15 22 / 95%) 30%, rgb(28 41 76 / 0%) 100%);
}

@media screen and (max-width: 768px) {
    .header_overlay {
        background: linear-gradient(180deg, rgb(12 15 22) 30%, rgb(28 41 76) 125%);
    }
}